/* Transición en sección "¡Contáctate Con Nosotros!" y "¡No duden en contactarnos para ..." */

.fondo-morado2 {
    background-color: #3F0580;
    transition: background-color 3s;

    &:hover {
        background-color: #3e17cb;
    }
}

.fondo-morado {
    background-color: #3F0580;
    transition: background-color 2s;

    &:hover {
        background-color: #3e17cb;
    }
}

/* Transición en cada testimonio" */

.testimonios {
    background-color: lightgray;
    transition: background-color 1s, transform 1s;

    &:hover {
        background-color:  rgb(189, 177, 212);
        transform: scale(1.1);
    }
}

/* Transición en cada imagen en galeria */

.imgbox {
    filter: grayscale(100%);
    transition: transform 1s;

    &:hover {
        transform: scale(1.1);
        filter: grayscale(0%);
    }
}

/* Transición en cada imagen */
.image-center {
    transition: transform 1s;

    &:hover {
        transform: scale(1.1);
    }
}