/* Transción */

.fondo-morado2 {
    background-color: #3F0580;
    transition: background-color 3s;

    &:hover {
        background-color: #3e17cb;
    }
}

.fondo-morado {
    background-color: #3F0580;
    transition: background-color 3s;

    &:hover {
        background-color: #3e17cb;
    }
}